body{
	background:radial-gradient(ellipse, white, #bfc4ca);
}
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #bfc4ca;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background:radial-gradient(ellipse, white, #bfc4ca);
}

li h3 {
	padding-left: 2em;
	font-size: 1.3em;
}

li a {
	display: block;
	color: #000;
	padding: 0.5em 4em;
	text-decoration: none;
	font-size: 1.1em;
}

li a:hover {
	background-color: #555;
	padding: 0.5em 4.5em;
	color: white;
}