body{
	background:radial-gradient(ellipse, white, #D3D3D3);
}

#div {
	padding: 2em 10em;
}

#div > fieldset{
	align:center;
	width: 320px;
}
legend {
	font-size: 24px;
	font-weight: 400;
}

td {
	font-size: 20px;
}

.add {
	margin: 0.8em 4em;
	overflow: hidden;
	width: 300px;
	height:auto;
	
}
.add textarea{
	width:90%;
	font-size: 20px;
}
.add select {
	height: 30px;
	line-height: 20px;
	font-size: 20px;
	width: 90%;
}

.add label {
	height: 30px;
	line-height: 20px;
	font-size: 20px;
}

.add input {
	height: 30px;
	line-height: 20px;
	font-size: 20px;
	width: 90%;
}

.btn {
	width: 20%;
	height: 30px;
	line-height: 20px;
	font-size: 20px;
	margin: 0.8em 8em;
}

.btn input {
	width: 100%;
	height: 100%;
	font-weight: bold;
	box-shadow: 1px 1px 1px #a4b0be;
	border: none;
	background-color: #747d8c;
	color: #FFF;
}
.btn input:hover{
	background-color: #2f3542;
	color: #FFF;
}

.select{
	margin: 0.8em 3em;
	font-size:20px;
	overflow: hidden;
	height: auto;
}
.select input{
	border-radius: 2px;
	height: 22px;
	line-height: 20px;
	border: 1px solid #999999;
	width: 100%;
}


