<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增试卷')"/>
    <th:block th:include="include :: jquery-steps-css"/>
    <style>
        .content {
            height: 550px;
            background: #ffffff;
            display: block;
            margin: 5px 5px 10px 5px;
            min-height: 350px;
            max-height: 550px;
            position: relative;
            width: auto;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            overflow: auto;
        }
    </style>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-paper-add">
        <h1>基本信息</h1>
        <section>
            <div class="form-group">
                <label class="col-sm-3 control-label">试卷名称：</label>
                <div class="col-sm-8">
                    <input id="qtyName" name="qtyName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">考试时长：</label>
                <div class="col-sm-8">
                    <input id="qtyTime" name="qtyTime" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">课程：</label>
                <div class="col-sm-8">
                    <select id="courseId" name="courseId" class="form-control m-b" required th:with="type=${@Course.selectEduCourseList(null)}">
                        <option value="">所有</option>
                        <option th:each="Course : ${type}" th:text="${Course.getCourseName()}"
                                th:value="${Course.getCourseId()}"></option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
        </section>

        <h1>添加单选题</h1>
        <section>
            <div class="form-horizontal m" id="form-paper-qtySing">
                <div class="col-sm-8">
                    <textarea id="qtySing" name="qtySing" class="form-control" required></textarea>
                </div>
            </div>
        </section>

        <h1>添加多选题</h1>
        <section>
            <div class="form-horizontal m" id="form-paper-qtyMuti">
                <div class="col-sm-8">
                    <textarea id="qtyMuti" name="qtyMuti" class="form-control" required></textarea>
                </div>
            </div>
        </section>

        <h1>添加判断题</h1>
        <section>
            <div class="form-horizontal m" id="form-paper-qtyJud">
                <div class="col-sm-8">
                    <textarea id="qtyJud" name="qtyJud" class="form-control" required></textarea>
                </div>
            </div>
        </section>

        <h1>添加填空题</h1>
        <section>
            <div class="form-horizontal m" id="form-paper-qtyFill">
                <div class="col-sm-8">
                    <textarea id="qtyFill" name="qtyFill" class="form-control" required></textarea>
                </div>
            </div>
        </section>

<!--        <h1>添加简答题</h1>-->
<!--        <section>-->
<!--            <div class="col-sm-8">-->
<!--                <textarea name="qtyEss" class="form-control"></textarea>-->
<!--            </div>-->
<!--        </section>-->
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">总分：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <input name="score" class="form-control" type="text">-->
<!--            </div>-->
<!--        </div>-->
    </form>
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>题目类型：</p>
                                <select name="type"
                                        th:with="type=${@dict.getType('QuestionTypes')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                            th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>题目分值：</p>
                                <input type="text" name="score"/>
                            </li>
                            <li>
                                <p>创建者：</p>
                                <input type="text" name="createBy"/>
                            </li>
                            <li class="select-time">
                                <p>创建时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginCreateTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endCreateTime]"/>
                            </li>
                            <li>
                                <p>更新者：</p>
                                <input type="text" name="updateBy"/>
                            </li>
                            <li class="select-time">
                                <p>更新时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间"
                                       name="params[beginUpdateTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间"
                                       name="params[endUpdateTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="edusystem:question:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                   shiro:hasPermission="edusystem:question:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                   shiro:hasPermission="edusystem:question:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="edusystem:question:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: jquery-steps-js"/>
<script type="text/javascript">
    var prefix = ctx + "edusystem/paper"
    $("#form-paper-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-paper-add').serialize());
        }
    }

    // Initialize wizard
    var wizard = $("#form-paper-add").steps({
        bodyTag: "section",
        transitionEffect: "slideLeft",
        autoFocus: true,
        onStepChanging:function(event, currentIndex, newIndex){/*步骤更改之前进行验证，默认验证结果是true*/
            console.log(newIndex)
            switch (newIndex) {
                case 1:
                    if($("#form-paper-add").validate().element($("#qtyName"))&&$("#form-paper-add").validate().element($("#qtyTime"))&& $("#form-paper-add").validate().element($("#courseId"))) {
                          return true;
                    }
                    return false
                case 2:
                    // 单个校验
                    return $("#form-paper-add").validate().element($("#qtySing"));
                case 3:
                    // 单个校验
                    return $("#form-paper-add").validate().element($("#qtyMuti"));
                case 4:
                    // 单个校验
                    return $("#form-paper-add").validate().element($("#qtyJud"));
                case 5:
                    // 单个校验
                    return $("#form-paper-add").validate().element($("#qtyFill"));
            }
            return true;
        },
        onStepChanged:function(event, currentIndex, priorIndex){/*步骤后变更后  触发的函数   */
            return true;
        },
        onFinishing:function (event, newIndex) {/*点击 提交 前 触发的事件，默认验证结果是false */
            return true;
        },
        onFinished:function (event, newIndex) {/*点击 提交 后触发的事件*/
            submitHandler();
        }
    });

    //Add step
    // wizard.steps("add", {
    //     title: "HTML code",
    //     bodyTag: "h1",
    //     content: "<strong>HTML code</strong>"
    // });

    var editFlag = [[${@permission.hasPermi('edusystem:question:edit')}]];
    var removeFlag = [[${@permission.hasPermi('edusystem:question:remove')}]];
    var typeDatas = [[${@dict.getType('QuestionTypes')}]];
    var prefix = ctx + "edusystem/question";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "题库",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '题目序号',
                    visible: false
                },
                {
                    field: 'type',
                    title: '题目类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(typeDatas, value);
                    }
                },
                {
                    field: 'title',
                    title: '题目标题'
                },
                {
                    field: 'sel',
                    title: '题目选项'
                },
                {
                    field: 'score',
                    title: '题目分值'
                },
                {
                    field: 'answer',
                    title: '题目答案/关键词'
                },
                {
                    field: 'createBy',
                    title: '创建者'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'updateBy',
                    title: '更新者'
                },
                {
                    field: 'updateTime',
                    title: '更新时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

</script>
</body>
</html>