<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <th:block th:include="include :: header('新增课程类型')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-CourseType-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">课程类型名：</label>
            <div class="col-sm-8">
                <input name="courseTypeName" class="form-control" type="text" required>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "edusystem/CourseType"
    $("#form-CourseType-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-CourseType-add').serialize());
        }
    }
</script>
</body>
</html>