<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htxk.edusystem.mapper.EduCourseTypeMapper">

    <resultMap type="EduCourseType" id="EduCourseTypeResult">
        <result property="courseTypeId" column="course_type_id"/>
        <result property="courseTypeName" column="course_type_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectEduCourseTypeVo">
        select course_type_id, course_type_name, create_by, create_time, update_by, update_time, del_flag from edu_course_type
    </sql>

    <select id="selectEduCourseTypeList" parameterType="EduCourseType" resultMap="EduCourseTypeResult">
        <include refid="selectEduCourseTypeVo"/>
        <where>
            <if test="courseTypeName != null  and courseTypeName != ''">and course_type_name like concat('%',
                #{courseTypeName}, '%')
            </if>
        </where>
    </select>

    <select id="selectEduCourseTypeById" parameterType="Long" resultMap="EduCourseTypeResult">
        <include refid="selectEduCourseTypeVo"/>
        where course_type_id = #{courseTypeId}
    </select>

    <insert id="insertEduCourseType" parameterType="EduCourseType" useGeneratedKeys="true" keyProperty="courseTypeId">
        insert into edu_course_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseTypeName != null  and courseTypeName != ''">course_type_name,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseTypeName != null  and courseTypeName != ''">#{courseTypeName},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateEduCourseType" parameterType="EduCourseType">
        update edu_course_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseTypeName != null  and courseTypeName != ''">course_type_name = #{courseTypeName},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where course_type_id = #{courseTypeId}
    </update>

    <delete id="deleteEduCourseTypeById" parameterType="Long">
        delete from edu_course_type where course_type_id = #{courseTypeId}
    </delete>

    <delete id="deleteEduCourseTypeByIds" parameterType="String">
        delete from edu_course_type where course_type_id in
        <foreach item="courseTypeId" collection="array" open="(" separator="," close=")">
            #{courseTypeId}
        </foreach>
    </delete>

</mapper>