#myUserList{
    padding: 8px;
}
#myUser{
    font-size: 14pt;
    color: #FFFFFF;
}
#title{
    font-size:14pt ;
}
#uu{
    font-size: 16pt;
    color: #2aabd2;
}
#left-menu{
    /*background:radial-gradient(ellipse, #31577d, #04213e);*/
    background: #0f0f0f;
    height: 94%
}
a{
    color: #FFFFFF;
}
#protrait{
    width: 120px;
    height: 120px;
    margin-left: 40px;
    margin-top:20px;
    margin-bottom: 5px;
}
.pratrait-title{
    font-size: 12pt;
    margin-left: 75px;
    color: #9d9d9d;
}

#page1,#page2,#page3{
    border: 1px #9d9d9d solid;
    border-radius: 10px;
    padding: 20px;
}
#back1,#back2{
    width: 240px;
    height: 240px;
}
